Repository Hz-Lin/transcendence, pull requests merged in 2023-06, with the labels that each got.

#125 117 work on game over
  back_end/app/src/game/game.gateway.ts
  front_end/app/src/assets/game_images/notes
  front_end/app/src/assets/game_mode/color_pong.css
  front_end/app/src/views/GameView.vue
Labels: feature, back_end, front_end, game

#130 112 medium access host from other codam computer
  back_end/app/src/auth/auth.controller.ts
  back_end/app/src/auth/auth.service.ts
  back_end/app/src/auth/strategy/42.strategy.ts
  back_end/app/src/chat/chat.gateway.ts
  back_end/app/src/game/game.gateway.ts
  back_end/app/src/game/game.service.ts
  back_end/app/src/game/matchmaking/chat_matchmaking.gateway.ts
  back_end/app/src/game/matchmaking/matchmaking.gateway.ts
  back_end/app/src/main.ts
  back_end/app/src/user/user.controller.ts
  docker-compose.yml
  front_end/Dockerfile
  front_end/app/cypress.config.ts
  front_end/app/cypress.env.json
  front_end/app/package-lock.json
  front_end/app/package.json
  front_end/app/src/components/ButtonsBlock.vue
  front_end/app/src/components/ButtonsFriend.vue
  front_end/app/src/components/ChatBoxChannel.vue
  front_end/app/src/components/ChatBoxDm.vue
  front_end/app/src/components/ChatChannelList.vue
  front_end/app/src/components/ChatCreateChannel.vue
  front_end/app/src/components/ChatUserList.vue
  front_end/app/src/components/LadderTable.vue
  front_end/app/src/components/LogInButton.vue
  front_end/app/src/components/MatchHistory.vue
  front_end/app/src/components/UserInfoCard.vue
  front_end/app/src/constants/constants.ts
  front_end/app/src/main.ts
  front_end/app/src/services/socketio.service.ts
  front_end/app/src/store/index.ts
  front_end/app/src/types/BadgesType.ts
  front_end/app/src/views/ChatMatchmakingView.vue
  front_end/app/src/views/ChatView.vue
  front_end/app/src/views/ChatView2.vue
  front_end/app/src/views/GameView.vue
  front_end/app/src/views/LogoutView.vue
  front_end/app/src/views/MatchmakingView.vue
  front_end/app/src/views/ProfileCurrentView.vue
  front_end/app/src/views/ProfileOtherView.vue
  front_end/app/src/views/TwofaView.vue
  front_end/app/src/views/UsersView.vue
  front_end/app/tsconfig.app.json
  front_end/app/tsconfig.vitest.json
  host.sh
Labels: feature, back_end, front_end

#128 117 work on game over
  back_end/app/src/game/game.gateway.ts
  back_end/app/src/game/game.service.ts
  front_end/app/src/assets/game_mode/color_pong.css
  front_end/app/src/components/ChatCreateChannel.vue
  front_end/app/src/views/GameView.vue
Labels: feature, back_end, front_end, game

#141 UI edit profile
  front_end/app/src/components/ButtonsFriend.vue
  front_end/app/src/components/ChatChannelList.vue
  front_end/app/src/components/LadderTable.vue
  front_end/app/src/components/NavMenu.vue
  front_end/app/src/components/ProfileMainTab.vue
  front_end/app/src/router/index.ts
  front_end/app/src/store/index.ts
  front_end/app/src/types/ErrorType.ts
  front_end/app/src/views/LogoutView.vue
  front_end/app/src/views/ProfileCurrentView.vue
  front_end/app/src/views/ProfileEditView.vue
  front_end/app/src/views/ProfileOtherView.vue
  front_end/app/src/views/TwoFactorAuthEnableView.vue
  front_end/app/src/views/TwoFactorAuthVarifyView.vue
Labels: feature, front_end

#149 solve the discrepancy of friend and block buttons
  front_end/app/src/components/AchievementBadges.vue
  front_end/app/src/components/ButtonsFriend.vue
  front_end/app/src/views/ProfileOtherView.vue
Labels: front_end
