Repository Hz-Lin/transcendence, pull requests merged in 2023-05, with the labels that each got.

#99 friend feature and avatar in chat, channel members
  front_end/app/src/components/ButtonsFriend.vue
  front_end/app/src/components/ChatBoxChannel.vue
  front_end/app/src/components/ChatBoxDm.vue
  front_end/app/src/types/ChatType.ts
  front_end/app/src/types/ErrorType.ts
  front_end/app/src/views/ChatView.vue
  front_end/app/src/views/UsersView.vue
Labels: feature, front_end, chat

#100 94 achievements
  back_end/app/prisma/schema.prisma
  back_end/app/src/achievements/achievements.module.ts
  back_end/app/src/achievements/achievements.service.spec.ts
  back_end/app/src/achievements/achievements.service.ts
  back_end/app/src/app.module.ts
  back_end/app/src/auth/auth.service.ts
  back_end/app/src/user/user.controller.ts
  back_end/app/src/user/user.module.ts
  back_end/app/src/user/user.service.ts
Labels: feature, back_end

#110 #105 medium paddle movement to backend
  back_end/app/src/game/game.gateway.ts
  back_end/app/src/game/game.service.ts
  back_end/app/src/game/type.ts
  front_end/app/src/assets/game_images/JoyfulEaster.ttf
  front_end/app/src/assets/game_images/mexcellent 3d.otf
  front_end/app/src/assets/game_images/mexcellent rg.otf
  front_end/app/src/assets/game_images/notes
  front_end/app/src/types/GameType.ts
  front_end/app/src/views/GameView.vue
Labels: back_end, front_end, game

#113 111 game move paddle player 2
  back_end/app/src/app.module.ts
  back_end/app/src/game/game.gateway.ts
  back_end/app/src/game/game.module.ts
  back_end/app/src/game/game.service.ts
  back_end/app/src/game/game.shared.service.ts
  back_end/app/src/game/matchmaking/matchmaking.gateway.ts
  back_end/app/src/game/matchmaking/matchmaking.module.ts
  back_end/app/src/game/type.ts
  back_end/app/src/game/types.ts
  front_end/app/src/assets/game_images/notes
  front_end/app/src/types/GameType.ts
  front_end/app/src/views/GameView.vue
Labels: back_end, front_end, game

#96 95 big 2fa
  back_end/app/package-lock.json
  back_end/app/package.json
  back_end/app/prisma/schema.prisma
  back_end/app/src/auth/auth.controller.ts
  back_end/app/src/auth/auth.module.ts
  back_end/app/src/auth/auth.service.ts
  back_end/app/src/auth/twofa/dto/index.ts
  back_end/app/src/auth/twofa/dto/twofa-authenticate-dto.ts
  back_end/app/src/auth/twofa/dto/twofa-code-dto.ts
  back_end/app/src/auth/twofa/twofa.controller.spec.ts
  back_end/app/src/auth/twofa/twofa.controller.ts
  back_end/app/src/auth/twofa/twofa.module.ts
  back_end/app/src/auth/twofa/twofa.service.spec.ts
  back_end/app/src/auth/twofa/twofa.service.ts
  front_end/app/src/router/index.ts
  front_end/app/src/views/TwofaView.vue
Labels: feature, back_end

#115 allow view proflie though chat interface, member list with dropdown
  front_end/app/src/components/ChatBoxChannel.vue
  front_end/app/src/components/ChatBoxDm.vue
  front_end/app/src/components/ChatChannelList.vue
  front_end/app/src/views/ChatView.vue
Labels: front_end, chat
